.vscode/

# Build
Build/
build/
Targets/
**/hotreload/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.log
