# Build
Build/
build/
Targets/
**/hotreload/

# Runtime hot-reload copies
*.runtime.*
*.hotreload.*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

.idea/
*.swp
*.swo

# Dynamic libraries / binaries
*.dylib
*.so
*.dll
*.exe

# Debug symbols
*.dSYM/

# macOS
.DS_Store
Desktop.ini

# Windows
Thumbs.db

# Temporary files
*.tmp
*.log
